<div data-ng-controller="borrowerController">
	<section id="main-content">
		<section class="wrapper">			
			<div class="col-md-12">
				<section class="panel">
					<div class="table-responsive">
<!-- 						<table class="table table-striped" id="authorTable">					 -->
<!-- 							<tr> -->
<!-- 								<th>#</th> -->
<!-- 								<th>Borrower name</th> -->
<!-- 								<th>Branch name</th> -->
<!-- 								<th>Book title</th> -->
<!-- 								<th>Checked out</th> -->
<!-- 								<th>Due date</th> -->
<!-- 								<th>Edit Due date</th> -->
<!-- 								<th>Return a book</th> -->
<!-- 							</tr> -->
<!-- 		 					<tr> -->
		
<!-- 		 					</tr>	 -->
<!-- 						</table> -->
						<h2 class="center">Hello Borrower!</h2>
						<h4 class="center">Choose your action.</h4>
						<button name="checkOUt" class="btn btn-sm btn-success"
							data-ng-click="brSelection()" class="center">check Out a Book</button>
						<br /> <br /> <br />
						<button name="CheckIn" class="btn btn-sm btn-success"
							data-ng-click="checkInBranchs()" class="center">Return a book</button>
						<br />
					</div>
				</section>
			</div>
			
		</section>
	</section>
</div>