<div data-ng-controller="publisherController">
	<section id="main-content">
		<section class="wrapper">
			<!--overview start-->
			<div class="row">
				{{message}}
			</div>
	
			<div class="input-group col-md-12">
				<div class="row">
					<form>
						<div class="col-md-6">
							<input class="form-control" placeholder="Search by name"
								data-ng-model="query">
						</div>
						<div class="col-md-6">
							<select class="form-control" data-ng-model="orderProp">
								<option value="" selected disabled>Sort by: </option>
								<option value="publisherName">Alphabet</option>
								<option value="-publisherId">Newest</option>
								<option value="publisherId">Oldest</option>
							</select>
						</div>
					</form>
					<div class="col-md-6">
						<dir-pagination-controls 
							max-size="5" 
							direction-links="true"
							boundary-links="true"> 
						</dir-pagination-controls>
					</div>
				</div>
			</div>
			<br>			
			<div class="col-md-12">
				<section class="panel">
					<div class="table-responsive">
						<table class="table table-striped" id="publisherTable">					
							<thead>
								<tr>
									<th>#</th>
									<th>Publisher name</th>
									<th>Publisher address</th>
									<th>Publisher phone</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>
							</thead>
							<tbody>
								<tr
									dir-paginate="p in publishers | filter:query | orderBy:orderProp | itemsPerPage : 10">
									<td>{{$index + 1}}</td>
									<td>{{p.publisherName}}</td>
									<td>{{p.publisherAddress}}</td>
									<td>{{p.publisherPhone}}</td>
									<td><button name="Edit" class="btn btn-sm btn-primary"
											data-ng-click="showPublisherEdit(p.publisherId)">Edit</button></td>
									<td><button name="Delete" class="btn btn-sm btn-danger"
											data-ng-click="deletePublisher($index, p.publisherName)">Delete</button></td>
								</tr>
							</tbody>				
		
						</table>
					</div>
				</section>
			</div>
			
			<div modal="editPublisherModal" id="myModal"
			class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" 
			aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content"><section class="panel">
							<header class="panel-heading"> Edit Publisher </header>
							<div class="panel-body">
								<div class="form-group">
									<input type="text"  class="form-control" value={{publisher.publisherName}} data-ng-model="publisher.publisherName">
									<input type="text"  class="form-control" value={{publisher.publisherAddress}} data-ng-model="publisher.publisherAddress">
									<input type="text"  class="form-control" value={{publisher.publisherPhone}} data-ng-model="publisher.publisherPhone">									
								</div>
								<div class="row">
									<div class="col-md-6 col-xs-6" align="left">
										<button data-ng-click="updatePublisher()" class="btn btn-md btn-primary">Edit</button>
									</div>
									<div class="col-md-6 col-xs-6" align="right">
										<button data-ng-click="closeEdit()" class="btn btn-md btn-danger">Cancel</button>
									</div>

								</div>
							</div>
						</section>
					</div>
				</div>
			</div>					
<!-- 			<pre>{{publishers || json}}</pre>			 -->
		</section>
	</section>
</div>