<div data-ng-controller="bookController">
	<section id="main-content">
		<section class="wrapper">
			
			<div class="input-group col-md-12">
				<div class="row">
					<form>
						<div class="col-md-6">
							<input class="form-control" placeholder="Search by name"
								data-ng-model="query">
						</div>
						<div class="col-md-6">
							<select class="form-control" data-ng-model="sortIt">
								<option value="" selected disabled>Sort by: </option>
								<option value="title">Alphabet</option>
								<option value="-bookId">Newest</option>
								<option value="bookId">Oldest</option>
							</select>					
						</div>
					</form>
					<div class="col-md-6">
						<dir-pagination-controls 
							max-size="5" 
							direction-links="true"
							boundary-links="true"> 
						</dir-pagination-controls>
					</div>
				</div>
			</div>
			
			<div class="col-md-12">
				<section class="panel">
					<div class="table-responsive">
						<table class="table table-striped" id="bookTable">	
							<thead>				
								<tr>
									<th>#</th>
									<th>Book title</th>
									<th>Publisher</th>
									<th style="text-align:center">Author</th>
									<th style="text-align:center">Genre</th>
									<th>Edit</th>
									<th>Delete</th>
								</tr>	
							</thead>
							<tbody>
								<tr
									dir-paginate="b in books | filter:query | filter:groups | orderBy:'-bookId' | orderBy: sortIt | itemsPerPage : 10">
									<td>{{$index + 1}}</td>
									<td>{{b.title}}</td>
									<td>{{b.publisher.publisherName}}</td>
									<td>
										<ul>
											<li data-ng-repeat="author in b.authors">{{author.authorName}}</li>
										</ul>
									</td>
									<td><ul>
											<li data-ng-repeat="genre in b.genres">{{genre.genreName}}</li>
										</ul></td>
									<td><button name="Edit" class="btn btn-sm btn-primary"
										ng-click="showEdit(b.bookId)">Edit</button></td>
									<td><button name="Delete" class="btn btn-sm btn-danger"
											data-ng-click="deleteBook($index, b.title)">Delete</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>
			</div>
			
			<div modal="editBookModal" id="myModal1" class="modal fade bs-example-modal-lg" tabindex="-1"	role="dialog" aria-labelledby="myLargeModalLabel">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<section class="panel">
							<header class="panel-heading"> Edit Book </header>
							<div class="panel-body">
								<div class="form-group">
									<input type="text"  class="form-control" value={{book.title}} data-ng-model="book.title">
									<div class="form-group">
										
										<label>Select Publishers:</label> 
										<select class="form-control" data-ng-model="book.publisher.publisherId" 
											data-ng-options="p.publisherId as p.publisherName for p in publisherBook">
										</select>
										
									</div>
									
									<div class="form-group">
										<label>Select Authors:</label> <select class="form-control"
											ng-model="book.authors"
											ng-options="a.authorName for a in authorBook track by a.authorId" multiple>
										</select>
									</div>
									<div class="form-group">
										<label for="sel1">Select Genres:</label> <select
											class="form-control" multiple data-ng-model="book.genres"
											data-ng-options="g.genreName for g in genresBook track by g.gerneId">
										</select>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6 col-xs-6" align="left">
										<button data-ng-click="updateBook()" class="btn btn-md btn-primary">Edit</button>
									</div>
									<div class="col-md-6 col-xs-6" align="right">
										<button data-ng-click="closeEdit()" class="btn btn-md btn-danger">Cancel</button>
									</div>

								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
			
<!-- 			<pre>{{authors || json}}</pre> -->
			
		</section>
	</section>
</div>